<div class="container">
    <section class="c-banner">
        <div class="row">
            <div class="c-banner__body col-10 mx-auto d-flex justify-content-center align-items-center">
                <div class="c-banner__body_image">
                    <img src="../../assets/images/logo-guilimadev-01.png" alt="Logo GuiLimaDev">
                </div>
                <div class="c-banner__body__text">
                    <div class="c-banner__body__text__presentation">
                        <p>OLÁ, ME CHAMO</p>
                        <p class="c-banner__body__text__presentation__mid-bold">GUILHERME LIMA</p>
                        <p>DESENVOLVEDOR WEB FRONTEND</p>
                    </div>
                    <div class="c-banner__body__text__social-midia">
                        <a href="">
                            <img src="../../assets/images/icon-linkedin-social 1.png" alt="Icon Linkedin">
                        </a>
                        <a href="">
                            <img src="../../assets/images/icon-github-social 1.png" alt="Icon GitHub">
                        </a>
                        <a href="">
                            <img src="../../assets/images/icon-instagram-social 1.png" alt="Icon Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="c-projects">
    <div class="container">
        <div class="c-projects__title">
            Aqui vão alguns dos meus projetos<span style="color: black;">.</span>
        </div>
        <div class="c-projects__cards">
            <div class="row">
                <div class="col-4">
                    <div class="c-projects__cards__card">
    
                    </div>
                </div>
            </div>
        </div>
        <div class="c-projects__spy-github">
            <a class="btn-gld btn-see-more"><img src="../../assets/images/happy-face.svg" alt="Happy Face"> Dê uma espiada no meu GitHub</a>
        </div>
    </div>
</section>