@import '../../styles.scss';

.c-banner {
    &__body {
        min-height: 455px;
        &_image {
            margin-right: 35px;
        }
        &__text {
            &__presentation {
                font-size: 35px;
                &__mid-bold {
                    font-size: 60px;
                    font-weight: bold;
                }
            }
            &__social-midia {
                a {
                    margin-right: 16px;
    
                    :last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.c-projects {
    background-color: $purple-01;
    padding: 30px 0;
    &__title {
        color: $white-02;
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 28px;
    }
    &__cards {
        padding-bottom: 60px;
        &__card {
            background-color: $white-02;
            border-radius: 5px;
            height: 251px;
            width: 100%;
        }
    }
}